.cardPhoto {
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 550px;
  min-height: 250px;
  line-height: 35px;
  padding-top: 25px !important;
  margin-top: 2% !important;
}

.cardPhoto .para {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
}
.cardPhoto .para_photo {
  font-size: 16px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 20px;
}
.cardPhoto .button_profile {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 28px;
  cursor: pointer;
  text-align: center;
  max-height: 48px;
  padding: 12px 22px;
  width: 300px;
  margin-top: 15px;
}
.btn_photo {
  background-color: rgb(255, 255, 255);
  border-color: var(--black-color);
  color: var(--black-color);
}

.btn_photos {
  background-color: rgb(34, 34, 34);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
.card_catergory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5px;
  word-break: break-word;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding: 64px 16px;
  max-width: 560px;
  margin: 0px auto;
}
.para_cat {
  font-size: 21px;
  /* line-height: 24px; */
  font-weight: bold;
  color: var(--black-color);
  padding: 20px 15px;
}
.para_cats {
  font-size: 16px;
  line-height: 30px;
  color: var(--black-color);
  text-align: center;
}
.cat_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  margin: 0px;
  border-width: 2px;
  border-radius: 28px;
  border-style: solid;
  cursor: pointer;
  text-align: center;
  max-height: 48px;
  padding: 12px 22px;
  background-color: rgb(8, 112, 209);
  border-color: rgb(8, 112, 209);
  color: rgb(255, 255, 255);
  width: 205px;
  margin-top: 15px;
}
.reume {
  min-height: 300px;
  margin-top: 5% !important;
}
.btn_photo_resume {
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  border-radius: 28px;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  text-align: center;
  width: 159px !important;
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
}
.btn_photo_resume:hover {
  background-color: rgb(233, 233, 233);
  border-color: rgb(233, 233, 233);
  color: rgb(34, 34, 34);
}
.licening_btn:hover {
  background-color: rgb(233, 233, 233);
}
.resume_text {
  color: #7fc1ff;
}
.group_width {
  width: 176px !important;
}
.licening_btn {
  width: 271px;
  background-color: #fff;
  border: 2px solid rgb(8, 112, 209);
  color: rgb(8, 112, 209);
}
.cat_btn:hover {
  background-color: rgb(41, 134, 247);
  border-color: rgb(41, 134, 247);
  color: rgb(255, 255, 255);
}
.btn_photo:hover {
  background-color: rgb(233, 233, 233);
}
.btn_photos:hover {
  background-color: rgb(78, 78, 78);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}
