.common_container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.common_container svg{
    height: 64px;
    width: 64px;
}
.cover_img{
    word-break: break-word;
    max-width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
  
    height: 96px;
    width: 96px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.title_name{
    line-height: 40px;
    font-weight: bold;
    font-size: 48px;
    color: rgb(255, 255, 255);
    padding-top: 25px;
    
}
.left_span{
    position: absolute;
    right: 80px;
    bottom: 0;
    color: #fff;
    padding-bottom: 5px;
    font-size: 12px;
    cursor: pointer;
}