.header_conatiner {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://500px.com/staticV2/media/header@2x.4b507ea6.jpg");
  width: 100%;
  display: flex;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  background-position-y: 100%;
}

.white_bg  {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
}

.header_content {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 64px;
  padding-right: 32px;
}
.inner_header {
  position: relative;
  height: 100%;
  color: #fff;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.header_conatiner h1 {
  font-size: 48px;
  font-weight: var(--font-weight);
  color: rgb(255, 255, 255);
  font-family: var(--font-family);
  line-height: 52px;
  letter-spacing: -0.4px;
}
.header_conatiner span {
  font-size: var(--text-size);
  line-height: 40px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  padding-top: 15px;
}
.btn {
  color: var(--black-color);
  background-color: #fff;
  width: 190px !important;
  font-weight: bold;
}
.btn:hover {
  background-color: rgb(215, 216, 219);
  color: var(--black-color);
}


@media screen and (min-width: 600px) and (max-width: 1440px) {
  .white_bg svg {
    top: 81%;
  }
}
