.img_home {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height:640px;
   padding-top: 60px;
}
.img_home img{
    width: 50%;
}

@media screen and (min-width: 600px) and (max-width: 1440px) {
    .img_home img{
        width: 100%;
    }
    
}