.button_auth_common {
  border: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight);
  border-radius: 28px;
  cursor: pointer;
  height: 50px;
  padding: 12px 22px;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
  width: 350px;
}
.button_auth_common span {
  flex: 1 1 auto;
  text-align: center;
  font-weight: 100;
  font-size: 16px !important;
  font-weight: bold;
}
.button_auth_common:hover {
  background-color: none;
}
