.button_auth_common {
  border: none;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-weight);
  border-radius: 28px;
  cursor: pointer;
  height: 60px;
  padding: 12px 22px;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
}
.button_auth_common span {
  width: 87%;
  text-align: center;
  font-weight: 100;
}
