.quest_common_container {
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  padding-left: 64px;
  padding-right: 64px;
}
.content_quest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
}
.content_quest .ques_title {
  font-weight: var(--font-weight);
  color: var(--black-color);
  line-height: 48px;
  font-size: 36px;
}
.content_quest span {
  font-size: 16px;
  line-height: 18px;
  color: var(--black-color);
}
.btn_quest{
  width: 216px;
}
.img_quest{
  width: 500px;
}
.img_quest img{
  width: 100%;
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  .quest_common_container {
    flex-direction: column;
    height: 900px;
    justify-content: space-between;
  }
  .content_quest{
    width: 100%;
    
  }
}
