* {
  padding: 0;
  margin: 0;
}
:root {
  --text-size: 16px;
  --black-color: rgb(34, 34, 34);
  --border: 25px;
  --font-weight: bold;
  --font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial,
    sansserif;
}
.button {
  border: none;
  border-radius: var(--border);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 56px;
  transition: background-color 0.1s ease 0s;
  text-decoration: none;
  width: 300px;
}
body{
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,TeXGyreHeros,FreeSans,Nimbus Sans L,Liberation Sans,Arial,sans-serif!important;
}