.home_profile_conatiner {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 7%;
  width: 100%;
  max-width: 100%;
}
.home_profile_conatiner h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-transform: none;
  margin: 0px 0px 8px;
  color: rgb(34, 34, 34);
}
.home_profile_conatiner span {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: none;
  color: rgb(109, 115, 120);
}
.home_profile_conatiner .home_Profile_link {
  font-size: 16px;
  font-weight: 700;
}
.home_profile_conatiner .home_Profile_link a {
  display: inline-block;
  line-height: 35px;
  color: #0870d1;
  box-shadow: inset 0 -3px 0 0 #0870d1;
}
.welcome_home{
  width: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-break: break-word;
  max-width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: rgb(34, 34, 34);
  border-bottom: 1px solid rgb(215, 216, 219);
  padding: 0px 0px 16px;
  margin: 16px auto 0px;

}
.welcome_home span:nth-child(1){
  font-size: 16px;
  line-height: 20px;
  color: var(--black-color);
  font-weight: bold;
}
.welcome_home span:nth-child(2){
  font-size: 16px;
  line-height: 20px;
  color: var(--black-color);
}